<% content_for :page_name, "Groups" %>
<div>
  <ul>
    <% @groups.each do |group| %>
      <%= link_to group do %>
        <li>
          <%= render "shared/group", group: group %>
        </li>
      <% end %>
    <% end %>
  </ul>
  <%= button_to "Add Category", new_group_path, method: :get %>
</div>