<% content_for :back_path, root_path%>
<div>
  <ul>
    <% content_for :page_name, "Groups" %>
    <% content_for :nav_button do %>
      <%= button_to 'Logout', destroy_user_session_path, method: :delete %>
    <% end %>
    <% @groups.each do |group| %>
      <%= link_to group do %>
        <li>
          <%= render "shared/group", group: group %>
        </li>
      <% end %>
    <% end %>
  </ul>
  <%= button_to "Add Group", new_group_path, method: :get %>
</div>