<div>
  <ul>
    <% @groups.each do |category| %>
      <%= link_to category do %>
        <div>
          <%= image_tag category.icon, alt: "#{category.name}" icon %>
          <h2> <%= category.name %> </h2>
          <p> <%= category.created_at.strftime('%Y-%b-%d') %> </p>
          <p> Total </p>
        </div>
      <% end %>
    <% end %>
  </ul>
</div>