<% content_for :nav_bar, 'navbar not required' %>
<div class='splash-container'>
  <h1>Welcome to Frugal Funds!!</h1>
  <div class='splash-authentication'>
    <%= link_to "Log in", new_user_session_path %>
    <%= link_to "Sign up", new_user_registration_path %>  
  </div>
</div>
