<% content_for :nav_bar, 'navbar not required' %>
<div>
  <h1>Welcome to Frugal Funds!!</h1>
  <%= link_to "log in", new_user_session_path %>
  <%= link_to "sign up", new_user_registration_path %>
</div>